:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__img {
  width: 300px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #a2d3f1 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  border-radius: var(--spacing-l);
  background-color: rgb(243, 241, 241);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover {
  background-color: #fff;
  transform: scale(1.05) translateZ(0);
}

.card:before {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: transparent;
}

.card-grid:hover > .card:not(:hover)::before {
  background-color: rgba(204, 204, 204, 0.5);
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__background {
  display: block;
  margin-bottom: 10px;
}

.card__content{
  padding: var(--spacing-l);
}

.card__category{
  color: #222222;
  font-size: 1.1rem;
  margin-bottom: var(--spacing-s);
  margin-top: 0;
}

.card__heading{
  color: #222222;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  margin-top: 0;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
